.container {
    border: 2px solid #00B98E58;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.icon svg {
    font-size: 1.8rem;
    background-color: #00B98E58;
    color: #00B98E;
    padding: 3px;
    border-radius: 5px;
}

.title {
    font-weight: 400;
    margin: 10px 0;
}

.location {
    color: grey;
    font-size: 0.9rem;
}

.location svg {
    margin-left: 5px;
    font-size: 1rem;
}

.container span {
    color: grey;
    display: block;
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 10px;
}

.container a {
    margin-top: 20px;
    font-size: 0.95rem;
    font-weight: 400;
    color: #00B98E;
}

.container a svg {
    font-size: 1.5rem;
}

.image img{
    border-radius: 10px;
    max-height: 400px !important;
    width: 100%;
    height: auto;
}