.container {
    background-color: #fff;
    margin-top: 126px;
}

.container>div:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

@media (max-width : 991px) {
    .container {
        margin-top: 0;
    }
}

@media (max-width : 767px) {
    .container>div:first-child {
        display: block;
    }
}